[user]
	email = danielyan.vahe@gmail.com
    name = Vahe Danielyan
[diff]
	tool = nvim -d
[difftool]
	prompt = false
[safe]
	directory = /home/daniev/workspace/meghu/LCB
[init]
	defaultBranch = master
