[submodule "Tela-icon-theme"]
	path = Tela-icon-theme
	url = https://github.com/vinceliuice/Tela-icon-theme
[submodule "Yaru-Colors"]
	path = Yaru-Colors
	url = https://github.com/Jannomag/Yaru-Colors
