[user]
	email = danielyan.vahe@gmail.com
    name = Vahe Danielyan
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = master
[doff]
	path = nvim
