[submodule "Tela-icon-theme"]
	path = external/Tela-icon-theme
	url = https://github.com/vinceliuice/Tela-icon-theme
[submodule "Yaru-Colors"]
	path = external/Yaru-Colors
	url = https://github.com/Jannomag/Yaru-Colors
[submodule "alacritty"]
	path = external/alacritty
	url = https://github.com/alacritty/alacritty
